

<h1>Welcome to the Stage Dreams App!</h1>
<br>
<h3> "Don't dream it...be it!"</h3>
<!--perhaps randomize the greeting from a list of dream related theatre quotes-->




<!--Need to find a photo for background here, will add link line and also add pic to css files-->







<p>Log In or Register:</p>
<a href="/login"><button>Log In</button></a>
<a href="/register"><button>Register</button></a>