
<h1>Welcome to Stage Dreams!</h1>
<br><br>
<h3> "Don't dream it...be it!"</h3>
<h5><em>The Rocky Horror Show</em></h5>
<br><br><br>
<img src="curtains.jpg" alt="spotlight on YOU!" width="400" height="300">

<p>Log In or Register:</p>
<a href="/login"><button>Log In</button></a>
<a href="/register"><button>Register</button></a>