<h1>Log In</h1>
<br><br>
<h3>Don''t hold me back cause today all my dreams will come true!</h3>
<h5><em>Hairspray</em></h5

<br><br>

<form action="/login" method="POST">
  
<label for="username">Username: </label>
<br>
<input type="text" name="username" value="">
<br><br>
<label for="password">Password: </label>
<br>
<input type="password" name="password" value="">
<br><br><br>
<input type="submit" value="Log In">

</form>
<br>
<a href="/register"><button>Register</button></a>